node_modules
.docz/
.idea/
.vscode/
*.log
.DS_Store
.cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_esm
.rts2_cache_umd
package-lock.json
/mochawesome-report
build/
dist/
cypress/videos
**/cypress/screenshots
cypress/reports
cypress.env.json
backstage_docs
vite.config.d.ts


# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sub packages
react/dist/*
